@model MVC5OnlineTicariOtomasyon.Models.Classes.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>DepartmanGetir</h2>
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Departmanid)
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.Departmanid)
    </div>
    <button class="btn btn-warning">Güncelle </button>
}


