@using MVC5OnlineTicariOtomasyon.Models.Classes;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Departman Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <td> ID</td>
        <td> Departman</td>
        <td> Sil</td>
        <td> Güncelle</td>
        <td> Detaylar</td>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Departmanid</td>
            <td>@k.DepartmanAd</td>

            <td><a href="/Departman/DepartmanSil/@k.Departmanid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@k.Departmanid" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    </table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary"> Departman Ekle</a></a>
